In [1]:
import tensorflow as tf

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [19]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [21]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [6]:
#let's read the data file
df = pd.read_csv("/content/sample_data/Churn_Modelling.csv")

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.Exited.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [12]:
X = df.iloc[:, 3:13]
y = df.iloc[:,13]

In [13]:
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

**As we know that a computer doesn't understand natural language, therefor, we need to convert any data that we are goig to give it to the machine into machine readible format**

In [14]:
#Create dummy variables
geography=pd.get_dummies(X.Geography,drop_first=True)
gender=pd.get_dummies(X.Gender,drop_first=True)

**Let's concatenate dummy columns in our dataset and remove the extra ones**

In [15]:
X=pd.concat([X,geography,gender],axis=1)
X=X.drop(['Geography','Gender'],axis=1)

**Test Train split**

In [18]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

**We need feature scalling for better calculations**

In [20]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**Let's create the classifier**

In [22]:
classifier = Sequential()

In [47]:
def ANN():  
  model = keras.Sequential([
      keras.layers.Dense(22, input_shape=(11,), activation='relu', kernel_initializer='he_normal'),
      keras.layers.Dropout(0.3),
      keras.layers.Dense(44, activation='relu', kernel_initializer='he_normal'),
      keras.layers.Dense(22, activation='relu', kernel_initializer='he_normal'),
      keras.layers.Dense(1, activation='sigmoid')
  ])

  # opt = keras.optimizers.Adam(learning_rate=0.01)

  model.compile(optimizer='adam',
                loss='binary_crossentropy',
                metrics=['accuracy'])

  model.fit(X_train, y_train, validation_split=0.2, epochs=10)

In [48]:
model = ANN()

Epoch 1/10
168/168 [==============================] - 1s 4ms/step - loss: 0.5007 - accuracy: 0.7879 - val_loss: 0.4411 - val_accuracy: 0.8187
Epoch 2/10
168/168 [==============================] - 1s 3ms/step - loss: 0.4755 - accuracy: 0.7929 - val_loss: 0.4272 - val_accuracy: 0.8246
Epoch 3/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4654 - accuracy: 0.8021 - val_loss: 0.4174 - val_accuracy: 0.8276
Epoch 4/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4553 - accuracy: 0.8007 - val_loss: 0.4214 - val_accuracy: 0.8336
Epoch 5/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4421 - accuracy: 0.8056 - val_loss: 0.4014 - val_accuracy: 0.8321
Epoch 6/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4375 - accuracy: 0.8125 - val_loss: 0.3964 - val_accuracy: 0.8440
Epoch 7/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4297 - accuracy: 0.8164 - val_loss: 0.3927 - val_accuracy: 0.8358
Epoch 8/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4237 - accuracy: 0.8151 - val_loss: 0.3798 - val_accuracy: 0.8373
Epoch 9/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4102 - accuracy: 0.8263 - val_loss: 0.3754 - val_accuracy: 0.8463
Epoch 10/10
168/168 [==============================] - 0s 3ms/step - loss: 0.4085 - accuracy: 0.8213 - val_loss: 0.3697 - val_accuracy: 0.8507